# OSX
#
.DS_Store

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Bundle artifacts
*.jsbundle

# Keystore & passwords
app/ainews.keystore
app/ainews.keystore.b64
gradle.properties
